<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Car</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${car}">
    <label for="model">Enter model: </label>
    <input type="text" th:field="*{model}" id="model">
    </br>
    <label for="model_year">Enter model year: </label>
    <input type="text" th:field="*{modelYear}" id="model_year">
    </br>
    <label for="vin">Enter VIN code: </label>
    <input type="text" th:field="*{vinCode}" id="vin">
    </br>
    <input type="submit" value="Create"/>
</form>
</body>
</html>