<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Car</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${car.getId()})}" th:object="${car}">
    <label for="model">Enter model: </label>
    <input type="text" th:field="*{model}" id="model">
    </br>
    <label for="model_year">Enter model year: </label>
    <input type="text" th:field="*{modelYear}" id="model_year">
    </br>
    <label for="vin">Enter VIN code: </label>
    <input type="text" th:field="*{vinCode}" id="vin">
    </br>
    <input type="submit" value="Update!"/>
</form>
<form th:method="DELETE" th:action="@{/{id}(id=${car.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>